* {
   margin: 0;
   padding: 0;
}

html {
   background-color: lightslategray;
}

.calculadora {
   position: fixed;
   background-color: black;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 15px;
}

.botao {
   height: 75px;
   width: 75px;
   margin: 3px;
   font-size: 50px;
   cursor: pointer;
   border: none;
   font-family: 'Roboto';
   color: black;
   background-color: gainsboro;
}

.botaoPorCento {
   height: 75px;
   width: 75px;
   margin: 3px;
   font-size: 50px;
   cursor: pointer;
   border: none;
   font-family: 'Roboto';
   color: black;
   background-color: gainsboro;
}

.botaoLimpar {
   height: 75px;
   width: 75px;
   margin: 3px;
   font-size: 50px;
   cursor: pointer;
   border: none;
   font-family: 'Roboto';
   color: black;
   background-color: orangered;
}

.botaoIgualdade {
   width: 75px;
   margin: 3px;
   font-size: 50px;
   cursor: pointer;
   border: none;
   font-family: 'Roboto';
   color: black;
   background-color: orangered;
}

.botao:hover {
   background-color: white;
   color: black;
}

.botaoLimpar:hover {
   background-color: orange;
   color: black;
}

.botaoIgualdade:hover {
   background-color: orange;
   color: black;
}

.botaoPorCento:hover {
   background-color: white;
   color: black;
}

#displayCalculadora {
   background-color: black;
   width: 322px;
   height: 75px;
   margin: 7px;
   font-size: 60px;
   font-family: 'Roboto';
   text-align: center;
   color: white; 
} 